/* 
	Buildlinks Flex 3.5 Type Selectors
	Serach "=ClassName" to navigate file
*/

/*	=Embeded Fonts
-----------------------------------------------------------------------------*/
@font-face {
	src: url( "main/resources/com/buildlinks/theme/fonts/avenir.swf" );
	font-family: "Avenir-Book";
	font-weight: normal;
	font-style: normal;
	font-anti-alias-type: advanced;
}

@font-face {
	src: url( "main/resources/com/buildlinks/theme/fonts/avenir.swf" );
	font-family: "Avenir-Medium";
	font-weight: normal;
	font-style: normal;
	font-anti-alias-type: advanced;
}

@font-face {
	src: url( "main/resources/com/buildlinks/theme/fonts/avenir.swf" );
	font-family: "Avenir-Heavy";
	font-weight: normal;
	font-style: normal;
	font-anti-alias-type: advanced;
}

global {
	font-family: "Avenir-Book";
	color: #34342d;
	font-size: 12;
	theme-color: #44aa5c;	
}

/*	=Alert
-----------------------------------------------------------------------------*/

/*	=Application
-----------------------------------------------------------------------------*/
Application {
	border-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ApplicationBorderSkin' );
	vertical-gap: 27;
	padding-left: 120;
	padding-bottom: -1;
	padding-right: 120;
	padding-top: 0;
}

/*	=Button
-----------------------------------------------------------------------------*/
Button, ComboBox, .buttonStyle, .firstButtonStyle, .lastButtonStyle, .sideBarButton, .alertButton {	
	color: #34342d;
	arrow-colors: #464e55, #0a7e57, #0a7e57, #cccccc, #ffffff;
	border-colors: #cdcdcd, #cdcdcd, #cdcdcd, #dddddd, #cdcdcd;
	border-thickness: 1;
	corner-radius: 1;
	disabled-color: #999996;
	font-anti-alias-type: advanced;
	font-family: "Avenir-Medium";
	font-weight: normal;
	font-size: 12;
	kerning: true;
	horizontal-gap: 3;
	text-roll-over-color: #085f41;
	text-selected-color: #085f41;
	show-skin-states: true, true, true, true, true;
	up-fill-colors: #ffffff, #dedede, #c1c1c1;
	over-fill-colors: #f1fce1, #d0dbc0, #b2bea3;
	disabled-fill-colors: #ffffff, #e9e9e9, #dadada;
	down-fill-colors: #e0fcb8, #bbd793, #a1be79;
	ratios: 110, 140, 255;
	toggled-up-fill-colors: #44aa5c, #208638, #066c1e;
	toggled-over-fill-colors: #44aa5c, #208638, #066c1e;
	toggled-down-fill-colors: #44aa5c, #208638, #066c1e;
	toggled-disabled-fill-colors: #a0d3ac, #8cbf98, #7db089;
	skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ButtonSkin' );
	selected-button-text-style-name: 'toggleSelectedTextStyle';
	padding-left: 12;
	padding-right: 12;
	padding-top: 1;
	padding-bottom: 0;
}

.toggleSelectedTextStyle {
	color: #ffffff;
	text-selected-color: #ffffff;
	text-roll-over-color: #ffffff;
	leading: 5;
}

/*	=ButtonBar
-----------------------------------------------------------------------------*/
ButtonBar {
	button-style-name: "buttonStyle";
	first-button-style-name: "buttonStyle";
	last-button-style-name: "buttonStyle";
	selected-button-text-style-name: "toggleSelectedTextStyle";	
	horizontal-gap: -1;
}

/*	=CheckBox
-----------------------------------------------------------------------------*/

/*	=ComboBox
-----------------------------------------------------------------------------*/
ComboBox, ListBase {
	is-drop-down: true;
	padding-bottom: -3;
	padding-top: -3;
	theme-color: #085f41;
	roll-over-color: #ecfbd7;
	selection-color: #177d2f;
	text-selected-color: #ffffff;
}

/*	=ControlBar
-----------------------------------------------------------------------------*/

/*	=DataGrid
-----------------------------------------------------------------------------*/
DataGrid {
	horizontal-grid-lines: true;
	vertical-grid-lines: false;
	horizontal-grid-line-color: #d8d8d6;
	alternating-item-colors: #ffffff, #ffffff;
	header-colors: #ffffff, #ffffff;
	header-style-name: "headerStyle";
	/* using ClassRefernece:(null) produces a runtime error	*/
	header-separator-skin: Embed( 'main/resources/com/buildlinks/theme/graphicalSkins/BlankSkin.png' );
}

.headerStyle {
	font-family: "Avenir-Heavy";
}

/*	=DateChooser
-----------------------------------------------------------------------------*/


/*	=DateField
-----------------------------------------------------------------------------*/
DateField {
	up-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateField_calUp.png' );
	over-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateField_calOver.png' );
	down-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateField_calDown.png' );
	disabled-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateField_calDisabled.png' );
}

/*	=HRule
-----------------------------------------------------------------------------*/
VRule {
	stroke-color: #646464;
}


/*	=LinkBar
-----------------------------------------------------------------------------*/

/*	=LinkButton
-----------------------------------------------------------------------------*/
LinkButton {
	color: #037ee6;
	skin: ClassReference(null);
	text-align: left;
	font-family: "Avenir-Book";
}

/*	=ListBase
-----------------------------------------------------------------------------*/
ListBase {
	font-family: "Avenir-Book";
	border-color: #91918e;
	text-selected-color: #177d2f;
	selection-color: #ecfbd7;
	padding-bottom: 3;
	padding-top: 3;
	padding-left: 6;
	padding-right: 6;
}

/*	=FormHeading
-----------------------------------------------------------------------------*/

/*	=FormItem
-----------------------------------------------------------------------------*/

/*	=RadioButton
-----------------------------------------------------------------------------*/

/*	=SuperLabel -- Custom Label component see com.neosavvy.nets.explorer.components
-----------------------------------------------------------------------------*/

/*	=ScrollBar
-----------------------------------------------------------------------------*/
ScrollBar {
	down-arrow-skin: ClassReference( null );
	up-arrow-skin: ClassReference( null );
	track-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ScrollTrackSkin' );
	track-colors: #ffffff, #ffffff;
	border-color: #9b9b97;
	thumb-icon: Embed( 'main/resources/com/buildlinks/theme/icons/ScrollBar_thumbIcon.png' );
	thumb-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ScrollThumbSkin' );
	up-fill-colors: #ffffff, #cdcdcd;
	over-fill-colors: #f1fce1, #b2bea3;
	disabled-fill-colors: #ffffff, #dadada;
	disabled-fill-colors: #ffffff, #cdcdcd;
}

/*	=TabBar
-----------------------------------------------------------------------------*/

/*	=TabNavigator
-----------------------------------------------------------------------------*/
TabNavigator, TabBar {
	padding-top: 0;
	border-color: #c8c8c8;
	tab-style-name: "tabStyle";
	last-tab-style-name: "tabStyle";
	first-tab-style-name: "tabStyle";
	selected-tab-text-style-name: "selectedTabStyle";
}

.selectedTabStyle {
	color: #177d2f;
}


/*	=TextInput
-----------------------------------------------------------------------------*/
TextInput, TextArea {
	border-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ShadowBorderSkin' );
	border-style: inset;
	background-fill-colors: #ffffff, #ffffff;
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 4;
	padding-right: 4;
	leading: 0;
}

/*	=ToolTip
-----------------------------------------------------------------------------*/
ToolTip {
	color: #ffffff;
	font-size: 12;
	font-family: "Avenir-Medium";
	background-fill-colors: #54544e, #54544e;
	border-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ShadowBorderSkin' );
	padding-top: 2;
	padding-bottom: 2;
	padding-left: 6;
	padding-right: 6;
}

/*	=Panel
-----------------------------------------------------------------------------*/

/*	=PieChart
-----------------------------------------------------------------------------*/

/*	=ProgressBar
-----------------------------------------------------------------------------*/

/*	=ScrollBar
-----------------------------------------------------------------------------*/