/*	=Embeded Fonts
-----------------------------------------------------------------------------*/
@font-face {
	src: url( "main/resources/com/buildlinks/theme/fonts/avenir.swf" );
	font-family: "Avenir-Book";
	font-weight: normal;
	font-style: normal;
	font-anti-alias-type: advanced;
}

@font-face {
	src: url( "main/resources/com/buildlinks/theme/fonts/avenir.swf" );
	font-family: "Avenir-Medium";
	font-weight: normal;
	font-style: normal;
	font-anti-alias-type: advanced;
}

@font-face {
	src: url( "main/resources/com/buildlinks/theme/fonts/avenir.swf" );
	font-family: "Avenir-Heavy";
	font-weight: normal;
	font-style: normal;
	font-anti-alias-type: advanced;
}

global {
	font-family: "Avenir-Book";
	color: #34342d;
	font-size: 12;
	theme-color: #44aa5c;
	font-weight: normal;	
}

/*	=AccordionHeader
-----------------------------------------------------------------------------*/
AccordionHeader {
	font-weight: normal;
	font-family: "Avenir-Heavy";
	font-size: 14;
	skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.TabSkin' );	
	border-colors: #c8c8c8, #c8c8c8, #c8c8c8, #c8c8c8, #c8c8c8;
	corner-radius: 0;
	padding-top: 2;
	padding-left: 10;
}

/*	=AdvancedDataGrid
-----------------------------------------------------------------------------*/
AdvancedDataGrid {
	icon-color: #34342d;
	border-color: #91918e;
	text-selected-color: #177d2f;
	selection-color: #ecfbd7;
	roll-over-color: #ecfbd7;
	sort-font-family: "Avenir-Medium";
	sort-font-weight: normal;
	theme-color: #44aa5c;
	text-align: left;
	padding-left: 6;
	padding-bottom: 3;
	padding-top: 1;
}

/*	=AdvancedDataGridColumn
-----------------------------------------------------------------------------*/
AdvancedDataGridColumn {
	headerStyleName: "headerStyle";
	theme-color: #44aa5c;
}

/*	=AdvancedDataGridItemRenderer
-----------------------------------------------------------------------------*/
AdvancedDataGridItemRenderer {
	font-family: "Avenir-Book";
	font-weight: normal;
	padding-bottom: 0;
	vertical-align: middle;
}

/*	=AdvancedDataGridGroupItemRenderer
-----------------------------------------------------------------------------*/
AdvancedDataGridGroupItemRenderer {
	vertical-align: middle;
}

/*	=AdvancedDataGridHeaderRenderer
-----------------------------------------------------------------------------*/
AdvancedDataGridHeaderRenderer {
	color: #34342d;
	font-size: 12;
	font-family: "Avenir-Heavy";
	leading: 0;
	horizontal-align: left;
	padding-left: 5;
	theme-color: #44aa5c;
}

/*	=Alert
-----------------------------------------------------------------------------*/
Alert {
	color: #3a3a36;
	background-color: #f3f3ee;
	drop-shadow-enabled: true;
	shadow-distance: 1;
	border-color: #f3f3ee;
	message-style-name: "alertMessageStyle";
	border-thickness-bottom: 16;
}

.alertMessageStyle {
	font-size: 14;
	leading: -2;
}

/*	=Application 
-----------------------------------------------------------------------------*/
Application {
	modal-transparency-color: #e6e6df;
	modal-transparency: .65;
	modal-transparency-duration: 1000;
	modal-transparency-blur: 50;
	border-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ApplicationBorderSkin' );
	vertical-gap: 27;
	padding-left: 120;
	padding-bottom: -1;
	padding-right: 120;
	padding-top: 0;
	horizontal-align: center;
}

/*	=ApplicationControlBar
-----------------------------------------------------------------------------*/
ApplicationControlBar {
	border-style: solid;
	border-sides: "bottom";
	backgroundColor: #ffffff;
	corner-radius: 0;
	drop-shadow-enabled: false;
	fill-alphas: 1, 1;
	padding-top: 2;
	padding-bottom: 2;
	padding-left: 0;
	padding-right: 2;
	horizontal-gap: 4;
}

/*	=Button
-----------------------------------------------------------------------------*/
Button, ComboBox, PopUpButton, PopUpMenuButton,
.buttonStyle, .firstButtonStyle, .lastButtonStyle, .sideBarButton, .alertButtonStyle,
.carouselButtonStyle, .tileButtonStyle {	
	color: #34342d;
	arrow-colors: #464e55, #0a7e57, #0a7e57, #cccccc, #ffffff;
	border-colors: #cdcdcd, #cdcdcd, #cdcdcd, #dddddd, #cdcdcd;
	corner-radius: 1;
	disabled-color: #999996;
	font-anti-alias-type: advanced;
	font-family: "Avenir-Medium";
	font-weight: normal;
	font-size: 12;
	kerning: true;
	horizontal-gap: 3;
	text-roll-over-color: #085f41;
	text-selected-color: #085f41;
	show-skin-states: true, true, true, true, true;
	up-fill-colors: #ffffff, #dedede, #c1c1c1;
	over-fill-colors: #f1fce1, #d0dbc0, #b2bea3;
	disabled-fill-colors: #ffffff, #e9e9e9, #dadada;
	down-fill-colors: #e0fcb8, #bbd793, #a1be79;
	ratios: 110, 140, 255;
	toggled-up-fill-colors: #44aa5c, #208638, #066c1e;
	toggled-over-fill-colors: #44aa5c, #208638, #066c1e;
	toggled-down-fill-colors: #44aa5c, #208638, #066c1e;
	toggled-disabled-fill-colors: #a0d3ac, #8cbf98, #7db089;
	skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ButtonSkin' );
	selected-button-text-style-name: 'toggleSelectedTextStyle';
	padding-left: 12;
	padding-right: 12;
	padding-top: 2;
	padding-bottom: 2;
	leading: 0;
}

.toggleSelectedTextStyle {
	color: #ffffff;
	text-selected-color: #ffffff;
	text-roll-over-color: #ffffff;
	disabled-color: #ffffff;
	font-weight: normal;
}

/*	=ButtonBar
-----------------------------------------------------------------------------*/
ButtonBar {
	button-style-name: "buttonStyle";
	first-button-style-name: "buttonStyle";
	last-button-style-name: "buttonStyle";
	selected-button-text-style-name: "toggleSelectedTextStyle";	
	horizontal-gap: -1;
}

/*	=CheckBox
-----------------------------------------------------------------------------*/
CheckBox, RadioButton {
	icon: ClassReference( 'main.flex.com.buildlinks.theme.skins.CheckBoxIcon' );
	border-colors: #cdcdcd, #cdcdcd, #cdcdcd, #dddddd, #cdcdcd;
	horizontal-gap: 3;
	text-roll-over-color: #085f41;
	text-selected-color: #085f41;
	up-fill-colors: #ffffff, #ffffff;
	over-fill-colors: #f1fce1, #f1fce1;
	disabled-fill-colors: #ffffff, #dadada;
	down-fill-colors: #bedb97, #bedb97;
	toggled-up-fill-colors: #ffffff, #ffffff;
	toggled-over-fill-colors: #f1fce1, #f1fce1;
	toggled-down-fill-colors: #bedb97, #bedb97;
	toggled-disabled-fill-colors: #ffffff, #dadada;
}

/*	=ComboBox
-----------------------------------------------------------------------------*/
ComboBox, ListBase {
	is-drop-down: true;
	padding-bottom: -3;
	padding-top: -3;
	roll-over-color: #ecfbd7;
	selection-color: #177d2f;
	text-selected-color: #ffffff;
	theme-color: #44aa5c;
	text-align: left;
	padding-left: 6;
}

/*	=ColorPicker
-----------------------------------------------------------------------------*/
ColorPicker {
	swatch-panel-style-name: "colorPickerSwatchStyle";
}

.colorPickerSwatchStyle {
	border-color: #d8d8d6;
	preview-width: 150;
}

/*	=ControlBar
-----------------------------------------------------------------------------*/
ControlBar {
	background-alpha: 1;
	border-style: "applicationControlBar";
	border-color: #c3c3c3; 
	fill-colors: #ffffff, #ffffff;
	border-thickness: 1;
	fill-alphas: 1, 1;
}

/*	=DataGrid
-----------------------------------------------------------------------------*/
DataGrid, AdvancedDataGrid {
	horizontal-grid-lines: true;
	vertical-grid-lines: false;
	horizontal-grid-line-color: #d8d8d6;
	alternating-item-colors: #ffffff, #ffffff;
	header-colors: #ffffff, #ffffff;
	header-style-name: "headerStyle";
	/* using ClassRefernece:(null) produces a runtime error	*/
	header-separator-skin: Embed( 'main/resources/com/buildlinks/theme/graphicalSkins/BlankSkin.png' );
}

.headerStyle, .dcHeaderStyle {
	font-size: 12;
	font-family: "Avenir-Heavy";
	leading: 0;
}

/*	=DateChooser
-----------------------------------------------------------------------------*/
DateChooser {
	font-size: 11;
	font-family: "Avenir-Book";
	corner-radius: 1;
	color: #34342d;
	background-color: #e6e6df;
	border-colors: #cecec8;
	header-colors: #e6e6de, #cfcfc8;
	header-style-name: "dcHeaderStyle";
	week-day-style-name: "weekDayStyle";
	today-style-name: "todayStyle";
	icon-color: #34342d;
	selection-color: #f1fce1;
	roll-over-color: #e0fcb8;
	today-color: #e6e6df;
	padding-bottom: 6;
	padding-left: 1;
	padding-right: 1;
	padding-top: 5;
	leading: 4;
	vertical-align: middle;
	today-indicator-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.DateChooserIndicator' ); 
	next-month-up-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateChooser_nextMonthUp.png' );
	next-month-over-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateChooser_nextMonthOver.png' );
	next-month-down-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateChooser_nextMonthOver.png' );
	next-month-disabled-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateChooser_nextMonthDisabled.png' );
	prev-month-up-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateChooser_prevMonthUp.png' );
	prev-month-over-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateChooser_prevMonthOver.png' );
	prev-month-down-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateChooser_prevMonthOver.png' );
	prev-month-disabled-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateChooser_prevMonthDisabled.png' );
	prev-year-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.DateChooserYearArrowSkin' ); 
	next-year-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.DateChooserYearArrowSkin' ); 
	vertical-gap: -2;
}

.weekDayStyle {
	color: #6b7274;
}

.todayStyle {
	font-family: "Avenir-Heavy";	
	color: #177d2f;
}

.dcHeaderStyle {
	padding-left: 12;
	padding-right: 12;
}

/*	=DateField
-----------------------------------------------------------------------------*/
DateField {
	up-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateField_calUp.png' );
	over-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateField_calOver.png' );
	down-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateField_calDown.png' );
	disabled-skin: Embed( 'main/resources/com/buildlinks/theme/icons/DateField_calDisabled.png' );
	date-chooser-style-name: "DateChooser";
}

/*	=DividedBox
-----------------------------------------------------------------------------*/
HDividedBox, VDividedBox {
	divider-color: #177d2f;
	divider-affordance: 6;
	divider-thickness: 3;
	divider-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.BoxDividerSkin' );
	vertical-gap: 6;
	horizontal-gap: 6;
	
}

/*	=HRule
-----------------------------------------------------------------------------*/
VRule, HRule {
	stroke-color: #cecec8;
}

/*	=LinkBar
-----------------------------------------------------------------------------*/

/*	=LinkButton
-----------------------------------------------------------------------------*/
LinkButton {
	color: #037ee6;
	skin: ClassReference(null);
	text-align: left;
	font-family: "Avenir-Book";
	padding-right: 0;
	vertical-align: middle;
}

/*	=ListBase
-----------------------------------------------------------------------------*/
ListBase {
	font-family: "Avenir-Book";
	border-color: #91918e;
	text-selected-color: #177d2f;
	selection-color: #ecfbd7;
	padding-bottom: 3;
	padding-top: 3;
	padding-left: 6;
	padding-right: 6;
}

/*	=FormHeading
-----------------------------------------------------------------------------*/
FormHeading {
	font-size: 14;
	font-anti-alias-type: advanced;
	font-family: "Avenir-Heavy";
	font-weight: normal;
}

/*	=FormItem
-----------------------------------------------------------------------------*/

/*	=NumericStepper
-----------------------------------------------------------------------------*/
NumericStepper {
	down-arrow-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.NumericStepperDownSkin' );
	up-arrow-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.NumericStepperUpSkin' );
	corner-radius: 1;
	arrow-colors: #2e3940, #177d2f, #177d2f, #969c9f;
	border-colors: #7c7f81, #7c7f81, #7c7f81, #bdbfc0;
	up-button-up-fill-colors: #ffffff, #ffffff;
	up-button-over-fill-colors: #f1fce1, #f1fce1;
	up-button-disabled-fill-colors: #ffffff, #ffffff;
	up-button-down-fill-colors: #e0fcb8, #d7f3af;
	down-button-up-fill-colors: #dcdcdc, #c1c1c1;
	down-button-over-fill-colors: #c9d4b9, #b2bea3;
	down-button-disabled-fill-colors: #ededed, #e0e0e0;
	down-button-down-fill-colors: #bbd793, #a1be79;
}

/*	=RadioButton
-----------------------------------------------------------------------------*/
RadioButton {
	icon: ClassReference( 'main.flex.com.buildlinks.theme.skins.RadioButtonIcon' );
}

/*	=SuperLabel -- Custom Label component see com.neosavvy.nets.explorer.components
-----------------------------------------------------------------------------*/

/*	=ScrollBar
-----------------------------------------------------------------------------*/
ScrollBar {
	down-arrow-skin: ClassReference( null );
	up-arrow-skin: ClassReference( null );
	track-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ScrollTrackSkin' );
	track-colors: #ffffff, #ffffff;
	border-color: #9b9b97;
	thumb-icon: Embed( 'main/resources/com/buildlinks/theme/icons/ScrollBar_thumbIcon.png' );
	thumb-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ScrollThumbSkin' );
	up-fill-colors: #ffffff, #cdcdcd;
	over-fill-colors: #f1fce1, #b2bea3;
	disabled-fill-colors: #ffffff, #dadada;
	disabled-fill-colors: #ffffff, #cdcdcd;
}

/*	=TabBar
-----------------------------------------------------------------------------*/

/*	=TabNavigator
-----------------------------------------------------------------------------*/
TabNavigator, TabBar {
	border-color: #c8c8c8;
	tab-style-name: "tabStyle";
	last-tab-style-name: "tabStyle";
	first-tab-style-name: "tabStyle";
}

.activeTabStyle {
	color: #177d2f;
	font-weight: normal;
}


/*	=TextInput
-----------------------------------------------------------------------------*/
TextInput, TextArea {
	border-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ShadowBorderSkin' );
	border-style: inset;
	background-fill-colors: #ffffff, #ffffff;
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 4;
	padding-right: 4;
	leading: 0;
}

/*	=Tree
-----------------------------------------------------------------------------*/
Tree, AdvancedDataGrid {
	default-leaf-icon: ClassReference( null );
	folder-open-icon: ClassReference( null );
	folder-closed-icon: ClassReference( null );
	disclosure-closed-icon: Embed( 'main/resources/com/buildlinks/theme/icons/Tree_disclosureClosed.png' );
	disclosure-open-icon: Embed( 'main/resources/com/buildlinks/theme/icons/Tree_disclosureOpen.png' );	
}

/*	=ToolTip
-----------------------------------------------------------------------------*/
ToolTip {
	color: #ffffff;
	font-size: 12;
	font-family: "Avenir-Medium";
	background-fill-colors: #54544e, #54544e;
	border-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ShadowBorderSkin' );
	padding-top: 2;
	padding-bottom: 2;
	padding-left: 6;
	padding-right: 6;
}

.errorTip {
	font-family: "Avenir-Heavy";
	font-size: 14;
	font-weight: normal;
	background-fill-colors: #e60303, #c90101;
	padding-bottom: 0;
	padding-top: -1;
}

/*	=Panel
-----------------------------------------------------------------------------*/
Panel {
	border-color: #9b9b97;
	corner-radius: 0;
	header-height: 28;
	header-colors: #e7e7e0, #d2d2ca;
	title-style-name: "pandelTitleStyle";
	drop-shadow-enabled: false;
	background-color: #e6e6df;
	border-thickness-bottom: 0;
	border-thickness-left: 1;
	border-thickness-right: 1;
	border-thickness-top: 1;
	control-bar-style-name: "panelControlBarStyle";
}

.pandelTitleStyle {
	font-family: "Avenir-Heavy";
	font-size: 14;
}

.panelControlBarStyle {
	drop-shadow-enabled: true;
	shadow-distance: 1;
	shadow-color: #9b9b97;
}

/*	=PopUpButton
-----------------------------------------------------------------------------*/
PopUpButton, PopUpMenuButton {
	is-drop-down: true;
	padding-left: 6;
	text-align: left;
}


/*	=PieChart
-----------------------------------------------------------------------------*/

/*	=ProgressBar
-----------------------------------------------------------------------------*/

/*	=ScrollBar
-----------------------------------------------------------------------------*/

/*	=Slider
-----------------------------------------------------------------------------*/
HSlider, VSlider {
	border-color: #d8d8d6;
	border-style: outset;
	fill-alphas: 1, 1;
	fill-colors: #ffffff, #ffffff;
	track-colors: #f3f3ee, #f3f3ee;
	show-track-highlight: true;
	tick-offset: 0;
	tick-length: 3;
	tick-thickness: 2;
	tick-color: #91918e;
}

/*	=TitleWindow
-----------------------------------------------------------------------------*/
TitleWindow {
	border-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ShadowBorderSkin' );
	background-fill-colors: #f3f3ee, #ffffff;
}
