/* 
	Buildlinks Flex Component Lib Type Selectors
	Serach "=ClassName" to navigate file
*/

/* 
	Note: The following styles are tied to custom component implementations
*/

/*	=Box
-----------------------------------------------------------------------------*/
ApplicationHeader {
	vertical-align: middle;	
	horizontal-gap: 8;
}

/*	=ItemRenderers
-----------------------------------------------------------------------------*/
SideBarListItemRenderer {
/*	icon: Embed( "com/buildlinks/theme/icons/Icon_listArrowUp.png" );*/
}

/*	=SuperLabel —> Label
-----------------------------------------------------------------------------*/
SuperLabel {
	horizontal-gap: 2;
	padding-top: 0;
	padding-bottom: 0;
}

.lockSuperLabel {
	font-size: 14;
	font-family: "Avenir-Heavy";
	icon: Embed( "com/buildlinks/theme/icons/Icon_lockUp.png" );
}