/* 
	Buildlinks Flex 3.5 Class Selectors
	Serach "=ClassName" to navigate file
*/

/*	=Typography
-----------------------------------------------------------------------------*/
.applicationTitle, .imageLabel {
	color: #646464;
	font-family: "Avenir-Heavy";
	font-size: 16;
	padding-top: 1;
}

.imageLabel {
	color: #34342d;
}

.viewTitle {
	color: #34342d;
	font-family: "Avenir-Heavy";
	font-size: 20;	
}

.headingBold, .headingGreyBold {
	font-family: "Avenir-Heavy";
}

.headingGreyBold {
	color: #6b7274;
}

.headingRegular {
	font-family: "Avenir-Book";
}


/*	=Box
-----------------------------------------------------------------------------*/
/* Replace "Base" with main view class name or use styleName="mainViewContainer" */
.mainViewContainer, Base {
	border-skin: ClassReference( 'com.buildlinks.theme.skins.ShadowBorderSkin' );
	vertical-gap: 0;
}

.stripedHeaderBox {
	border-skin: ClassReference( 'com.buildlinks.theme.skins.StripedBorderSkin' );
	padding-bottom: 3;
	padding-left: 8;
	padding-right: 8;
	padding-top: 3;
	vertical-align: middle;
}

.noPaddingBox {
	padding-bottom: -1;
	padding-left: -1;
	padding-right: -1;
	padding-top: -1;
}


/*	=Buttons
-----------------------------------------------------------------------------*/
.printLgButton, .addLgComment {
	up-icon: Embed( 'com/buildlinks/theme/icons/Icon_printUp.png' );
	over-icon: Embed( 'com/buildlinks/theme/icons/Icon_printOver.png' );
	down-icon: Embed( 'com/buildlinks/theme/icons/Icon_printOver.png' );
	disabled-icon: Embed( 'com/buildlinks/theme/icons/Icon_printDisabled.png' );
	padding-bottom: 4;
	padding-top: 4;
	padding-left: 14;
	padding-right: 14;
}

.addLgComment {
	up-icon: Embed( 'com/buildlinks/theme/icons/Icon_addCommentUp.png' );
	over-icon: Embed( 'com/buildlinks/theme/icons/Icon_addCommentOver.png' );
	down-icon: Embed( 'com/buildlinks/theme/icons/Icon_addCommentOver.png' );
	disabled-icon: Embed( 'com/buildlinks/theme/icons/Icon_addCommentDisabled.png' );
}

.addButton {
	up-icon: Embed( 'com/buildlinks/theme/icons/Icon_addUp.png' );
	over-icon: Embed( 'com/buildlinks/theme/icons/Icon_addOver.png' );
	down-icon: Embed( 'com/buildlinks/theme/icons/Icon_addOver.png' );
	disabled-icon: Embed( 'com/buildlinks/theme/icons/Icon_addDisabled.png' );
}



/*	=DataGrid
-----------------------------------------------------------------------------*/

/*	=List
-----------------------------------------------------------------------------*/
.sideBarList {
	background-alpha: 0;
	border-color: #979794;
}


/*	=LinkButton
-----------------------------------------------------------------------------*/
.userNameLinkButton, .logOutLinkButton {
	color: #646464;
	text-roll-over-color: #177d2f;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: -3;
}

.userNameLinkButton {
	up-icon: Embed( 'com/buildlinks/theme/icons/Icon_16_prefsUp.png' );
	over-icon: Embed( 'com/buildlinks/theme/icons/Icon_16_prefsOver.png' );
	down-icon: Embed( 'com/buildlinks/theme/icons/Icon_16_prefsOver.png' );
	disabled-icon: Embed( 'com/buildlinks/theme/icons/Icon_16_prefsDisabled.png' );
}

.backLinkButton {
	font-family: "Avenir-Heavy";
	horizontal-gap: 4;
	up-icon: Embed( 'com/buildlinks/theme/icons/Icon_backArrowUp.png' ); 
	over-icon: Embed( 'com/buildlinks/theme/icons/DateChooser_prevMonthOver.png' ); 
	down-icon: Embed( 'com/buildlinks/theme/icons/DateChooser_prevMonthOver.png' ); 
	disabled-icon: Embed( 'com/buildlinks/theme/icons/DateChooser_prevMonthDisabled.png' ); 
}

.forwardLinkButton {
	font-family: "Avenir-Heavy";
	horizontal-gap: 4;
	up-icon: Embed( 'com/buildlinks/theme/icons/Icon_forwardArrowUp.png' ); 
	over-icon: Embed( 'com/buildlinks/theme/icons/DateChooser_nextMonthOver.png' ); 
	down-icon: Embed( 'com/buildlinks/theme/icons/DateChooser_nextMonthOver.png' ); 
	disabled-icon: Embed( 'com/buildlinks/theme/icons/DateChooser_nextMonthDisabled.png' ); 
}

/*	=TabNavigator 
-----------------------------------------------------------------------------*/
ApplicationTabBar {
	tab-style-name: "applicationTabStyle";
	last-tab-style-name: "applicationTabStyle";
	first-tab-style-name: "applicationTabStyle";
	selected-tab-text-style-name: "applicationSelectedTabStyle";
}

.applicationSelectedTabStyle {
	font-size: 12;
	color: #177d2f;
	vertical-gap: 1;
}

.tabStyle, 
.calendarTab, .photoTabs, .forumTab, .selectionsTab, .filesTab,
.defaultStyleTab, .customStyleTab  {
	font-family: "Avenir-Medium";
	font-thickness: 100;
	skin: ClassReference( 'com.buildlinks.theme.skins.TabSkin' );	
	border-colors: #c8c8c8, #c8c8c8, #c8c8c8, #c8c8c8, #c8c8c8;
	corner-radius: 19;
	padding-bottom: 1;
	padding-left: 22;
	padding-right: 22;
	padding-top: 7;
	vertical-align: middle;
}

.tabStyle {
	corner-radius: 12;
	padding-left: 8;
	padding-right: 8;
	padding-top: 0;
	padding-bottom: 0;
	leading: 0;
}

.defaultStyleTab, .customStyleTab, .calendarTab, .photoTabs, .forumTab, .selectionsTab, .filesTab, {
	corner-radius: 19;
	vertical-gap: 1;
}

.calendarTab {
	up-icon: Embed( "com/buildlinks/theme/icons/Icon_calendarTabUp.png" );
	over-icon: Embed( "com/buildlinks/theme/icons/Icon_calendarTabOver.png" );
	down-icon: Embed( "com/buildlinks/theme/icons/Icon_calendarTabOver.png" );
	disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_calendarTabDisabled.png" );
	selected-up-icon: Embed( "com/buildlinks/theme/icons/Icon_calendarTabOver.png" );
	selected-over-icon: Embed( "com/buildlinks/theme/icons/Icon_calendarTabOver.png" );
	selected-down-icon: Embed( "com/buildlinks/theme/icons/Icon_calendarTabOver.png" );
	selected-disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_calendarTabDisabled.png" );
}

.photoTabs {
	up-icon: Embed( "com/buildlinks/theme/icons/Icon_photoTabUp.png" );
	over-icon: Embed( "com/buildlinks/theme/icons/Icon_photoTabOver.png" );
	down-icon: Embed( "com/buildlinks/theme/icons/Icon_photoTabOver.png" );
	disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_photoTabDisabled.png" );
	selected-up-icon: Embed( "com/buildlinks/theme/icons/Icon_photoTabOver.png" );
	selected-over-icon: Embed( "com/buildlinks/theme/icons/Icon_photoTabOver.png" );
	selected-down-icon: Embed( "com/buildlinks/theme/icons/Icon_photoTabOver.png" );
	selected-disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_photoTabDisabled.png" );
}

.forumTab {
	up-icon: Embed( "com/buildlinks/theme/icons/Icon_chatTabUp.png" );
	over-icon: Embed( "com/buildlinks/theme/icons/Icon_chatTabOver.png" );
	down-icon: Embed( "com/buildlinks/theme/icons/Icon_chatTabOver.png" );
	disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_chatTabDisabled.png" );
	selected-up-icon: Embed( "com/buildlinks/theme/icons/Icon_chatTabOver.png" );
	selected-over-icon: Embed( "com/buildlinks/theme/icons/Icon_chatTabOver.png" );
	selected-down-icon: Embed( "com/buildlinks/theme/icons/Icon_chatTabOver.png" );
	selected-disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_chatTabDisabled.png" );
}

.selectionsTab {
	up-icon: Embed( "com/buildlinks/theme/icons/Icon_cartTabUp.png" );
	over-icon: Embed( "com/buildlinks/theme/icons/Icon_cartTabOver.png" );
	down-icon: Embed( "com/buildlinks/theme/icons/Icon_cartTabOver.png" );
	disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_cartTabDisabled.png" );
	selected-up-icon: Embed( "com/buildlinks/theme/icons/Icon_cartTabOver.png" );
	selected-over-icon: Embed( "com/buildlinks/theme/icons/Icon_cartTabOver.png" );
	selected-down-icon: Embed( "com/buildlinks/theme/icons/Icon_cartTabOver.png" );
	selected-disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_cartTabDisabled.png" );
}

.filesTab {
	up-icon: Embed( "com/buildlinks/theme/icons/Icon_filesTabUp.png" );
	over-icon: Embed( "com/buildlinks/theme/icons/Icon_filesTabOver.png" );
	down-icon: Embed( "com/buildlinks/theme/icons/Icon_filesTabOver.png" );
	disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_filesTabDisabled.png" );
	selected-up-icon: Embed( "com/buildlinks/theme/icons/Icon_filesTabOver.png" );
	selected-over-icon: Embed( "com/buildlinks/theme/icons/Icon_filesTabOver.png" );
	selected-down-icon: Embed( "com/buildlinks/theme/icons/Icon_filesTabOver.png" );
	selected-disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_filesTabDisabled.png" );
}

/* The following two styles are specific to the style explorerer */
.defaultStyleTab {
	up-icon: Embed( "com/buildlinks/theme/icons/Icon_defaultStylesUp.png" );
	over-icon: Embed( "com/buildlinks/theme/icons/Icon_defaultStylesOver.png" );
	down-icon: Embed( "com/buildlinks/theme/icons/Icon_defaultStylesOver.png" );
	selected-up-icon: Embed( "com/buildlinks/theme/icons/Icon_defaultStylesOver.png" );
	selected-over-icon: Embed( "com/buildlinks/theme/icons/Icon_defaultStylesOver.png" );
	selected-down-icon: Embed( "com/buildlinks/theme/icons/Icon_defaultStylesOver.png" );
}

.customStyleTab {
	up-icon: Embed( "com/buildlinks/theme/icons/Icon_customStylesUp.png" );
	over-icon: Embed( "com/buildlinks/theme/icons/Icon_customStylesOver.png" );
	down-icon: Embed( "com/buildlinks/theme/icons/Icon_customStylesOver.png" );
	selected-up-icon: Embed( "com/buildlinks/theme/icons/Icon_customStylesOver.png" );
	selected-over-icon: Embed( "com/buildlinks/theme/icons/Icon_customStylesOver.png" );
	selected-down-icon: Embed( "com/buildlinks/theme/icons/Icon_customStylesOver.png" );
}

/*	=TextInput
-----------------------------------------------------------------------------*/
.searchTextInput {
	icon: Embed( "com/buildlinks/theme/icons/Icon_magnifyingGlass.png" );
	padding-left: 24;
}

/*	=ToggleButtonBar
-----------------------------------------------------------------------------*/
.photoViewToggleButtonBar {
	first-button-style-name: "carouselButtonStyle";
	last-button-style-name: "tileButtonStyle";
}

.tileButtonStyle{
	up-icon: Embed( "com/buildlinks/theme/icons/Icon_tileUp.png" );
	over-icon: Embed( "com/buildlinks/theme/icons/Icon_tileOver.png" );
	down-icon: Embed( "com/buildlinks/theme/icons/Icon_tileOver.png" );
	disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_tileDisabled.png" );
	selected-up-icon: Embed( "com/buildlinks/theme/icons/Icon_tileSelectedUp.png" );
	selected-over-icon: Embed( "com/buildlinks/theme/icons/Icon_tileSelectedUp.png" );
	selected-down-icon: Embed( "com/buildlinks/theme/icons/Icon_tileSelectedUp.png" );
	selected-disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_tileSelectedUp.png" );
	vertical-align: middle;
}

.carouselButtonStyle{
	up-icon: Embed( "com/buildlinks/theme/icons/Icon_carouselUp.png" );
	over-icon: Embed( "com/buildlinks/theme/icons/Icon_carouselOver.png" );
	down-icon: Embed( "com/buildlinks/theme/icons/Icon_carouselOver.png" );
	disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_carouselDisabled.png" );
	selected-up-icon: Embed( "com/buildlinks/theme/icons/Icon_carouselSelectedUp.png" );
	selected-over-icon: Embed( "com/buildlinks/theme/icons/Icon_carouselSelectedUp.png" );
	selected-down-icon: Embed( "com/buildlinks/theme/icons/Icon_carouselSelectedUp.png" );
	selected-disabled-icon: Embed( "com/buildlinks/theme/icons/Icon_carouselSelectedUp.png" );
}



/*	=Panel
-----------------------------------------------------------------------------*/