Releases

    {{{http://www.neosavvy.com:8081/nexus/content/groups/public/com/neosavvy/svn/analytics/svn-analytics-webapp/${currentBuildVersion}/svn-analytics-webapp-${currentBuildVersion}.war}HSQLDB Preconfigured Release ${currentBuildVersion}}}

