SVN Spy Installation

    Installing SVN Spy is simple, just follow the steps below

    [[1]] Download the latest release from the {{{download.html}downloads}} page

    [[2]] Download Tomcat 6.X from {{{http://tomcat.apache.org/download-60.cgi}here}}

    [[3]] Install Java 1.5 or Greater

    [[4]] Place the svn-analytics-webapp-${currentBuildVersion}.war file into Tomcat's webapps directory and rename it to svn-analytics-webapp.war

    [[5]] Start Tomcat

    [[6]] No database configuration is required, by default HSQLDB is used

    [[7]] Navigate to http://localhost:8080/svn-analytics/

    [[8]] Click the "Reset" button

    [[9]] Hold Ctrl+Shift and the Manage button should appear

    [[10]] Click Manage

    [[11]] Add your repository Information (Name, User, Password, URL)

    [[12]] Click "Add"

    [[13]] Click Schedule Update

    [[14]] Wait for your Index to complete

    [[15]] Refresh the application

Advanced Configuration
	
	More advanced configuration will come in later releases but overriding database configuration
	is currently the only advanced config options available at this time. Find install further
	instruction {{{database.configuration.html}here}}
