/* 
	NETS Flex 3.5 Type Selectors
	Jaivin Anzalota
	
	Serach "=ClassName" to navigate file
*/

global {
	color: #262a2e;
	font-family: "OfficinaSans-Book";
	font-size: 14;
	theme-color: #085f41;
}

/*	=Fonts
-----------------------------------------------------------------------------*/
@font-face {
	src: url(com/neosavvy/nets/theme/fonts/OfficinaSans.swf);
	font-family: "OfficinaSans-Book";
	font-weight: normal;
	font-style: normal;
	font-anti-alias-type: advanced;
}

/*@font-face {*/
    /*src: url(com/neosavvy/nets/theme/fonts/OfficinaSans.swf);*/
    /*font-family: "OfficinaSans-Bold";*/
    /*font-weight: normal;*/
    /*font-anti-alias-type: advanced;*/
/*}*/

/*@font-face {*/
    /*src: url(com/neosavvy/nets/theme/fonts/OfficinaSans.swf);*/
    /*font-family: "OfficinaSans-BookItalic";*/
    /*font-style: normal;*/
    /*font-anti-alias-type: advanced;*/
/*}*/


/*	=Alert
-----------------------------------------------------------------------------*/
Alert {
	background-alpha: 1;
	background-color: #ffffff;
	border-color: #ffffff;
	color: #262a2e;	
	corner-radius: 0;
	shadow-distance: 1;
	title-style-name: "panelTitleStyle";
	message-style-name: "messageStyle";
	modal-transparency-color: #085f41;
	modal-transparency: .2;
	modal-transparency-blur: .4;
	padding-bottom: 12;
	padding-left: 4;
	padding-right: 4;
	padding-top: 1;
	button-style-name: "alertButton";
}

.panelTitleStyle {
	color: #262a2e;
	font-family: "OfficinaSans-Bold";
	font-weight: bold;
	font-size: 16;
}

.messageStyle {
	color: #262a2e;
	font-family: Arial;
	font-size: 14;
	leading: 2;
}

/*	=Application
-----------------------------------------------------------------------------*/
Application {
	border-skin: Embed(source="com/neosavvy/nets/theme/skins/Background_borderSkins.swf", symbol="Application_borderSkin");
}

/*	=Button
-----------------------------------------------------------------------------*/
Button, ComboBox, .buttonStyle, .firstButtonStyle, .lastButtonStyle, .sideBarButton, .alertButton {	
	arrow-colors: #464e55, #0a7e57, #0a7e57, #cccccc, #ffffff;
	border-colors: #bfbfbf, #92b3a8, #92b3a8, #cccccc, #84b0a1;
	border-thickness: 1;
	corner-radius: 2;
	disabled-color: #8b8d8f;
	font-anti-alias-type: advanced;
	font-family: Arial;
	font-size: 12;
	font-weight: normal;
	kerning: true;
	horizontal-gap: 3;
	text-roll-over-color: #085f41;
	text-selected-color: #085f41;
	show-skin-states: true, true, true, true, true;
	up-fill-colors: #ececec, #d0d0d0, #bebebe;
	over-fill-colors: #e3efea, #c2ddd3, #a7cec0;
	disabled-fill-colors: #f0f0f0, #d9d9d9, #cbcbcb;
	down-fill-colors: #a6cdbf, #e3efea, #e3efea;
	ratios: 110, 140, 255;
	toggled-up-fill-colors: #0b6144, #257c5f, #449b7e;
	toggled-over-fill-colors: #0b6144, #257c5f, #449b7e;
	toggled-down-fill-colors: #0b6144, #257c5f, #449b7e;
	toggled-disabled-fill-colors: #0b6144, #257c5f, #449b7e;
	skin: ClassReference("com.neosavvy.nets.theme.skins.ButtonSkin");
	selected-button-text-style-name: 'toggleSelectedTextStyle';
	padding-left: 8;
	padding-right: 8;
	padding-top: 3;
	padding-bottom: 0;
}

.toggleSelectedTextStyle {
	color: #ffffff;
	text-selected-color: #ffffff;
	text-roll-over-color: #ffffff;
	leading: 5;
}

/*	=ButtonBar
-----------------------------------------------------------------------------*/
ButtonBar {
	button-style-name: "buttonStyle";
	first-button-style-name: "firstButtonStyle";
	last-button-style-name: "lastButtonStyle";
	selected-button-text-style-name: "toggleSelectedTextStyle";	
	horizontal-gap: -1;
}

.buttonStyle, .firstButtonStyle,  .lastButtonStyle {
	toggled-up-fill-colors: #479e81, #1f7659, #096043;
	toggled-over-fill-colors: #479e81, #1f7659, #096043;
	toggled-down-fill-colors: #479e81, #1f7659, #096043;
	toggled-disabled-fill-colors: #479e81, #1f7659, #096043;
	skin: ClassReference("com.neosavvy.nets.theme.skins.ButtonSkin");
	padding-left: 20;
	padding-right: 20;
	padding-top: 3;
	padding-bottom: 0;
}

.firstButtonStyle {
	corner-radius: 8;
	top-right-radius: 1;
	bottom-right-radius: 1;
	focus-rounded-corners: "tl bl";
}

.lastButtonStyle {
	corner-radius: 8;
	top-left-radius: 1;
	bottom-left-radius: 1;
	focus-rounded-corners: "tr br";

}

/*	=CheckBox
-----------------------------------------------------------------------------*/
CheckBox, RadioButton {
	text-roll-over-color: #2e7cb3;
	text-selected-color: #2e7cb3;
	padding-bottom: -2;
	padding-top: 0;
	up-icon: Embed('com/neosavvy/nets/theme/icons/CheckBox_up.png');
	over-icon: Embed('com/neosavvy/nets/theme/icons/CheckBox_over.png');
	down-icon: Embed('com/neosavvy/nets/theme/icons/CheckBox_over.png');
	disabled-icon: Embed('com/neosavvy/nets/theme/icons/CheckBox_disabled.png');
	selected-up-icon: Embed('com/neosavvy/nets/theme/icons/CheckBox_selectedUp.png');
	selected-over-icon: Embed('com/neosavvy/nets/theme/icons/CheckBox_selectedOver.png');
	selected-down-icon: Embed('com/neosavvy/nets/theme/icons/CheckBox_selectedOver.png');
	selected-disabled-icon: Embed('com/neosavvy/nets/theme/icons/CheckBox_selectedDisabled.png');
}

/*	=ComboBox
-----------------------------------------------------------------------------*/
ComboBox {
	is-drop-down: true;
	padding-bottom: -1;
	padding-top: 0;
	text-input-style-name: "textInputStyle";
}

.textInputStyle {
	padding-top: 3;
}

/*	=ControlBar
-----------------------------------------------------------------------------*/
ControlBar {
	border-style: solid;
	border-color: #afafaf;
	border-sides: 'top';
}

/*	=DataGrid
-----------------------------------------------------------------------------*/
DataGrid, List {
	alternating-item-colors: #ffffff, #ffffff;
	background-alpha: 1;
	background-color: #ffffff;
	border-color: #cacaca;
	border-style: solid;
	header-colors: #fefefe, #bfbfbf;
	header-height: 26;
	header-style-name: "dgHeaderStyle";
	header-separator-skin: ClassReference("com.neosavvy.nets.theme.skins.DataGridHeaderSeperatorSkin");
	vertical-grid-lines: false;
	text-selected-color: #ffffff;
	selection-color: #096042;
	roll-over-color: #8bcab5;
}

.dgHeaderStyle {
	font-weight: normal;
}

/*	=DateChooser
-----------------------------------------------------------------------------*/
DateChooser {
	corner-radius: 0;
	header-colors: #ffffff, #b7cfc6;
	roll-over-color: #a4d0c1;
	theme-color: #085f41;
	today-style-name: "todayStyle";
	today-color: #f3e4b8;
	text-roll-over-color: #ffffff;
	text-selected-color: #ffffff;
	shadow-distance: 1;
	header-style-name: "headerStyle";
}

.todayStyle {
	color: #262a2e;
}

.headerStyle {
	font-weight: bold;
	font-size: 14;
}

/*	=DateField
-----------------------------------------------------------------------------*/
DateField {
	up-skin: Embed('com/neosavvy/nets/theme/icons/DateField_up.png');
	over-skin: Embed('com/neosavvy/nets/theme/icons/DateField_over.png');
	down-skin: Embed('com/neosavvy/nets/theme/icons/DateField_over.png');
	disabled-skin: Embed('com/neosavvy/nets/theme/icons/DateField_disabled.png');
}

/*	=LinkBar
-----------------------------------------------------------------------------*/
LinkBar {
	link-button-style-name: "linkBarButtonStyle";
}

.linkBarButtonStyle{
	padding-bottom: 1;
	padding-top: 0;
}

/*	=LinkButton
-----------------------------------------------------------------------------*/
LinkButton {
	font-family: "OfficinaSans-Book";
	font-size: 14;	
	color: #2e7cb3;
	corner-radius: 6;
	roll-over-color: #2e7cb3;
	selection-color: #2e7cb3;
	text-roll-over-color: #ffffff;
	text-selected-color: #ffffff;
	padding-left: 3;
	padding-right: 3;
	padding-bottom: 0;
	padding-top: 0;
	font-grid-fit-type: subpixel;
}

/*	=FormHeading
-----------------------------------------------------------------------------*/
FormHeading {
	color: #262a2e;
	font-size: 16;
	padding-left: -8;
}

/*	=FormItem
-----------------------------------------------------------------------------*/
FormItem {
	label-style-name: "formItemStyle";
	indicator-gap: 8;
	indicator-skin: Embed('com/neosavvy/nets/theme/skins/FormItem_requiredSkin.png'); 
}

.formItemStyle {
	color: #464e55;
	font-family: Arial;
	font-size: 12;
}

/*	=RadioButton
-----------------------------------------------------------------------------*/
RadioButton {
	up-icon: Embed('com/neosavvy/nets/theme/icons/RadioButton_up.png');
	over-icon: Embed('com/neosavvy/nets/theme/icons/RadioButton_over.png');
	down-icon: Embed('com/neosavvy/nets/theme/icons/RadioButton_over.png');
	disabled-icon: Embed('com/neosavvy/nets/theme/icons/RadioButton_disabled.png');
	selected-up-icon: Embed('com/neosavvy/nets/theme/icons/RadioButton_selectedUp.png');
	selected-over-icon: Embed('com/neosavvy/nets/theme/icons/RadioButton_selectedOver.png');
	selected-down-icon: Embed('com/neosavvy/nets/theme/icons/RadioButton_selectedOver.png');
	selected-disabled-icon: Embed('com/neosavvy/nets/theme/icons/RadioButton_selectedDisabled.png');
}

/*	=SuperLabel -- Custom Label component see com.neosavvy.nets.explorer.components
-----------------------------------------------------------------------------*/
SuperLabel {
	color: #085f41;
	font-weight: bold;
	padding-bottom: 3;
    padding-top: 3;
}

/*	=TabBar
-----------------------------------------------------------------------------*/
TabBar {
	first-tab-style-name: "tabStyle";
	last-tab-style-name: "tabStyle";
	tab-style-name: "tabStyle";	
	horizontal-gap: -1;
	selected-tab-text-style-name: "toggleSelectedTextStyle";	
}

.tabStyle {
	border-colors: #89b0a2, #92b3a8, #92b3a8, #cccccc, #84b0a1;
	border-thickness: 1;
	font-family: "OfficinaSans-Book";	
	corner-radius: 1;
	color: #0a7e57;
	disabled-color: #8b8d8f;
	font-anti-alias-type: advanced;
	font-size: 14;
	font-weight: normal;	
	text-roll-over-color: #085f41;
	text-selected-color: #085f41;
	skin: ClassReference("com.neosavvy.nets.theme.skins.TabSkin");
	padding-left: 20;
	padding-right: 20;
	padding-top: 2;
	padding-bottom: 0;
	drop-shadow-enabled: false;
}

/*	=TabNavigator
-----------------------------------------------------------------------------*/
TabNavigator {
	border-color: #5e9b86;
}

/*	=TextInput
-----------------------------------------------------------------------------*/
TextInput {
	border-skin: Embed("com/neosavvy/nets/theme/skins/TextInput_borderSkin.png",
		scaleGridBottom="20",
		scaleGridLeft="5",
		scaleGridRight="6",
		scaleGridTop="6");
	padding-bottom: 0;
	padding-top: 1;
	padding-left: 3;
	padding-right: 3;
}

/*	=ToolTip
-----------------------------------------------------------------------------*/
ToolTip {
	font-size: 14;
}

/*	=Panel
-----------------------------------------------------------------------------*/
Panel, TitleWindow {
	border-skin: ClassReference("com.neosavvy.nets.theme.skins.DropShadowBorderSkin");
    padding-top: 28;
    padding-left: 10;
    padding-right: 10;
    padding-bottom: 45;
}

/*	=PieChart
-----------------------------------------------------------------------------*/
PieChart {
	color: #464e55;
	font-size: 16;
}

/*	=ProgressBar
-----------------------------------------------------------------------------*/
ProgressBar {
	bar-color: #085f41;
	track-height: 20;
}

/*	=ScrollBar
-----------------------------------------------------------------------------*/
ScrollBar {
	track-colors: #ffffff, #ffffff;
	icon-color: #464e55;
	thumb-icon: Embed("com/neosavvy/nets/theme/icons/ScrollBar_thumbIcon.png");
	thumb-up-skin: Embed("com/neosavvy/nets/theme/skins/ScrollBar_thumbUpSkin.png",
		scaleGridBottom="20",
		scaleGridLeft="5",
		scaleGridRight="6",
		scaleGridTop="6");
	thumb-over-skin: Embed("com/neosavvy/nets/theme/skins/ScrollBar_thumbOverSkin.png",
		scaleGridBottom="20",
		scaleGridLeft="5",
		scaleGridRight="6",
		scaleGridTop="6");
	thumb-down-skin: Embed("com/neosavvy/nets/theme/skins/ScrollBar_thumbOverSkin.png",
		scaleGridBottom="20",
		scaleGridLeft="5",
		scaleGridRight="6",
		scaleGridTop="6");
	thumb-disabled-skin: Embed("com/neosavvy/nets/theme/skins/ScrollBar_thumbOverSkin.png",
		scaleGridBottom="20",
		scaleGridLeft="5",
		scaleGridRight="6",
		scaleGridTop="6");
}

