<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath*:commonsContext.xml" />
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/commonsuser"/>
        <property name="username" value="commonsuser"/>
        <property name="password" value="commonsuser"/>
        <property name="initialSize" value="5"/>
        <property name="maxActive" value="10"/>
        <property name="testOnBorrow" value="true"/>
        <property name="validationQuery" value="SELECT 1"/>
    </bean>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
                <property name="showSql" value="true"/>
                <property name="generateDdl" value="true"/>
                <property name="databasePlatform" value="org.eclipse.persistence.platform.database.PostgreSQLPlatform"/>
            </bean>
        </property>
        <!--property name="jpaPropertyMap">
          <map>
            <entry key="eclipselink.ddl-generation" value="drop-and-create-tables"/>
            <entry key="eclipselink.ddl-generation.output-mode" value="both"/>
            <entry key="eclipselink.logging.level" value="FINEST"/>
            <entry key="eclipselink.create-ddl-jdbc-file-name" value="ddl.txt" />
            <entry key="eclipselink.application-location" value="/tmp" />

          </map>
        </property-->
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    <!--bean id="databaseInitializerBean" class="com.neosavvy.user.util.DatabaseInitializerListener">
        <property name="dataSource" ref="dataSource"/>
    </bean-->

</beans>