<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <mapping class="com.neosavvy.user.dto.UserDTO"/>
        <mapping class="com.neosavvy.user.dto.UserInviteDTO"/>
        <mapping class="com.neosavvy.user.dto.CompanyDTO"/>
        <mapping class="com.neosavvy.user.dto.RoleDTO"/>
        <mapping class="com.neosavvy.user.dto.NumEmployeesRangeDTO"/>
        <mapping class="com.neosavvy.user.dto.UserCompanyRoleDTO"/>
    </session-factory>
</hibernate-configuration>