<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    
  	<display-name>SVN Analytics Service</display-name>
  	
  	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
		classpath:${database.type}Datasource.xml
		classpath:ibatisDataContext.xml
		classpath:serviceContext.xml
		classpath:svnRepositoryConfigurations.xml
        </param-value>
    </context-param> 

    <listener>
        <listener-class>com.neosavvy.svn.analytics.util.HSQLServerStartupListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener </listener-class> 
    </listener>
    <listener>
        <listener-class>flex.messaging.HttpFlexSession</listener-class>
    </listener>
    <listener>
      <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
		
    
    <servlet>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
        <init-param>
            <param-name>service.configuration.file</param-name>
            <param-value>/WEB-INF/flex/services-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </servlet-mapping>
     
</web-app>
