/* 
	Buildlinks Flex 3.5 Type Selectors
	Serach "=ClassName" to navigate file
*/

/*	=Embeded Fonts
-----------------------------------------------------------------------------*/
@font-face {
	src: url( "main/resources/com/buildlinks/theme/fonts/avenir.swf" );
	font-family: "Avenir-Book";
	font-weight: normal;
	font-style: normal;
	font-anti-alias-type: advanced;
}

@font-face {
	src: url( "main/resources/com/buildlinks/theme/fonts/avenir.swf" );
	font-family: "Avenir-Medium";
	font-weight: normal;
	font-style: normal;
	font-anti-alias-type: advanced;
}

@font-face {
	src: url( "main/resources/com/buildlinks/theme/fonts/avenir.swf" );
	font-family: "Avenir-Heavy";
	font-weight: normal;
	font-style: normal;
	font-anti-alias-type: advanced;
}

global {
	font-family: "Avenir-Book";
	color: #34342d;
	font-size: 12;
}

/*	=Alert
-----------------------------------------------------------------------------*/

/*	=Application
-----------------------------------------------------------------------------*/
Application {
	border-skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ApplicationBorderSkin' );
	vertical-gap: 27;
	padding-left: 120;
	padding-bottom: -1;
	padding-right: 120;
	padding-top: 0;
}

/*	=Button
-----------------------------------------------------------------------------*/
Button, ComboBox, .buttonStyle, .firstButtonStyle, .lastButtonStyle, .sideBarButton, .alertButton {	
	arrow-colors: #464e55, #0a7e57, #0a7e57, #cccccc, #ffffff;
	border-colors: #cdcdcd, #cdcdcd, #cdcdcd, #dddddd, #cdcdcd;
	border-thickness: 1;
	corner-radius: 1;
	disabled-color: #999996;
	font-anti-alias-type: advanced;
	font-family: "Avenir-Medium";
	font-weight: normal;
	kerning: true;
	horizontal-gap: 3;
	text-roll-over-color: #085f41;
	text-selected-color: #085f41;
	show-skin-states: true, true, true, true, true;
	up-fill-colors: #ffffff, #dedede, #c1c1c1;
	over-fill-colors: #f1fce1, #d0dbc0, #b2bea3;
	disabled-fill-colors: #ffffff, #e9e9e9, #dadada;
	down-fill-colors: #e0fcb8, #bbd793, #a1be79;
	ratios: 110, 140, 255;
	toggled-up-fill-colors: #44aa5c, #208638, #066c1e;
	toggled-over-fill-colors: #44aa5c, #208638, #066c1e;
	toggled-down-fill-colors: #44aa5c, #208638, #066c1e;
	toggled-disabled-fill-colors: #a0d3ac, #8cbf98, #7db089;
	skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.ButtonSkin' );
	selected-button-text-style-name: 'toggleSelectedTextStyle';
	padding-left: 12;
	padding-right: 12;
	padding-top: 1;
	padding-bottom: 0;
}

.toggleSelectedTextStyle {
	color: #ffffff;
	text-selected-color: #ffffff;
	text-roll-over-color: #ffffff;
	leading: 5;
}

/*	=ButtonBar
-----------------------------------------------------------------------------*/
ButtonBar {
	button-style-name: "buttonStyle";
	first-button-style-name: "buttonStyle";
	last-button-style-name: "buttonStyle";
	selected-button-text-style-name: "toggleSelectedTextStyle";	
	horizontal-gap: -1;
}

/*	=CheckBox
-----------------------------------------------------------------------------*/

/*	=ComboBox
-----------------------------------------------------------------------------*/

/*	=ControlBar
-----------------------------------------------------------------------------*/

/*	=DataGrid
-----------------------------------------------------------------------------*/

/*	=DateChooser
-----------------------------------------------------------------------------*/

/*	=DateField
-----------------------------------------------------------------------------*/

/*	=HRule
-----------------------------------------------------------------------------*/
VRule {
	stroke-color: #646464;
}


/*	=LinkBar
-----------------------------------------------------------------------------*/

/*	=LinkButton
-----------------------------------------------------------------------------*/

/*	=FormHeading
-----------------------------------------------------------------------------*/

/*	=FormItem
-----------------------------------------------------------------------------*/

/*	=RadioButton
-----------------------------------------------------------------------------*/

/*	=SuperLabel -- Custom Label component see com.neosavvy.nets.explorer.components
-----------------------------------------------------------------------------*/

/*	=TabBar
-----------------------------------------------------------------------------*/

/*	=TabNavigator
-----------------------------------------------------------------------------*/
TabNavigator, TabBar {
	padding-top: 0;
	border-color: #c8c8c8;
	tab-style-name: "tabStyle";
	last-tab-style-name: "tabStyle";
	first-tab-style-name: "tabStyle";
	selected-tab-text-style-name: "selectedTabStyle";
}

.tabStyle {
	font-family: "Avenir-Medium";
	font-thickness: 100;
	skin: ClassReference( 'main.flex.com.buildlinks.theme.skins.TabSkin' );	
	border-colors: #c8c8c8, #c8c8c8, #c8c8c8, #c8c8c8, #c8c8c8;
	corner-radius: 19;
	padding-bottom: 4;
	padding-left: 22;
	padding-right: 22;
	padding-top: 7;
	vertical-align: bottom;
}

.selectedTabStyle {
	color: #177d2f;	
}



/*	=TextInput
-----------------------------------------------------------------------------*/

/*	=ToolTip
-----------------------------------------------------------------------------*/

/*	=Panel
-----------------------------------------------------------------------------*/

/*	=PieChart
-----------------------------------------------------------------------------*/

/*	=ProgressBar
-----------------------------------------------------------------------------*/

/*	=ScrollBar
-----------------------------------------------------------------------------*/